{% extends 'base.html.twig' %}

{% block header %}
    <h2 class="text-center">Weather Forecast</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Trondheim</h1>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Today</h5>
                <h6>12:00</h6>
                <h6>Temperature: 4 &deg;C</h6>
                <h6>Light rain</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Today</h5>
                <h6>15:00</h6>
                <h6>Temperature: 3 &deg;C</h6>
                <h6>Light rain</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Today</h5>
                <h6>18:00</h6>
                <h6>Temperature: 1 &deg;C</h6>
                <h6>Light rain</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Today</h5>
                <h6>21:00</h6>
                <h6>Temperature: 1 &deg;C</h6>
                <h6>Overcast clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>00:00</h6>
                <h6>Temperature: 1 &deg;C</h6>
                <h6>Light rain</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>03:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Light rain</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>06:00</h6>
                <h6>Temperature: -0 &deg;C</h6>
                <h6>Light snow</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>09:00</h6>
                <h6>Temperature: 1 &deg;C</h6>
                <h6>Light snow</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>12:00</h6>
                <h6>Temperature: 3 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>15:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>18:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Monday</h5>
                <h6>21:00</h6>
                <h6>Temperature: -3 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>00:00</h6>
                <h6>Temperature: -3 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>03:00</h6>
                <h6>Temperature: -3 &deg;C</h6>
                <h6>Broken clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>06:00</h6>
                <h6>Temperature: -4 &deg;C</h6>
                <h6>Broken clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>09:00</h6>
                <h6>Temperature: -2 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>12:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Broken clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>15:00</h6>
                <h6>Temperature: 0 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>18:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Tuesday</h5>
                <h6>21:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Clear sky</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>00:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>03:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Broken clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>06:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>09:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>12:00</h6>
                <h6>Temperature: 3 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>15:00</h6>
                <h6>Temperature: 2 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>18:00</h6>
                <h6>Temperature: 1 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Wednesday</h5>
                <h6>21:00</h6>
                <h6>Temperature: 0 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>00:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Few clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>03:00</h6>
                <h6>Temperature: -4 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>06:00</h6>
                <h6>Temperature: -3 &deg;C</h6>
                <h6>Light snow</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>09:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Light snow</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>12:00</h6>
                <h6>Temperature: -0 &deg;C</h6>
                <h6>Light snow</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>15:00</h6>
                <h6>Temperature: 0 &deg;C</h6>
                <h6>Clear sky</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>18:00</h6>
                <h6>Temperature: -1 &deg;C</h6>
                <h6>Broken clouds</h6>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns end">
            <div class="weather">
                <h5>Thursday</h5>
                <h6>21:00</h6>
                <h6>Temperature: -2 &deg;C</h6>
                <h6>Scattered clouds</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p class="text-center weather-footer">Copyright &COPY; Vektorvær 2016</p>
{% endblock %}